body {
  background-color: black;
  color: white;
  }

  #speech{
     border-style: solid;
     border-radius: 15px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    background-color: #FG4C72;
    padding: 30px;
    font-family: cursive;
    font-size: 20px;
  }
  
#speech:active{
  display:none;
}

.location{
  transition: height 2s, width 2s;
}

.location:active 
{
 height: 320px;
 width: 320px;
}

h1{
     text-align: center;
  }
  
h4 {
       
       text-align: center;
  }
  


ul {
  list-style-type: none;
  margin: 0px;
  padding: 5px;
  overflow: hidden;
  background-color: #aaaaaa;
  border-radius: 10px;
}

li {
  float: left;
  font-size: 22px;
  font-family: Arial;
  padding: 0px;
  position: relative;
  left: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 920;
}

li a:hover {
  background-color: #282828;
}
 
  a:active {
  color: #190061;
}

#bio{
  background-color: #aaaaaa;
  color: C3073F;
  padding: 20px;
}

#bio2{
  background-color: #aaaaaa;
  color: C3073F;
  padding: 20px;
}

.paragraphs{
  display: inline-block;
  width: 500px;
  font-size: 20px;
  position: relative;
  left: 8px;
}

#p1{
  display: inline;
   font-style: italic;
}

#p2{
   display: block;
   font-style: italic;
}

#p3{
   display: block;
   font-style: italic;
}

#p4{
   display: block;
   font-style: italic;
}

#screen{
 padding: 10px; 
}

h3{
  position: relative;
  left: 8px;
}

footer{
  text-align: center;
}

child > images {
  height: 40px;
  width: 25px;
}
