body {
  background-color: black;
  color: #3500D3;
  }
  
@keyframes flickerAnimation {
  0%   { font-size:200%; }
  50%  { font-size:150%; }
  100% { font-size: 200%; }
}
@-o-keyframes flickerAnimation{
   0%   { font-size:200%; }
  50%  { font-size:150%; }
  100% { font-size: 200%; }
}
@-moz-keyframes flickerAnimation{
   0%   { font-size:200%; }
  50%  { font-size:150%; }
  100% { font-size: 200%; }
}
@-webkit-keyframes flickerAnimation{
  0%   { font-size:200%; }
  50%  { font-size:150%; }
  100% { font-size: 200%; }
}
#Title {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}


  #speech{
     border-style: solid;
     border-radius: 15px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    background-color: #FG4C72;
    padding: 30px;
    font-family: cursive;
    font-size: 20px;
  }
  
#speech:active{
  display:none;
}

.location{
  transition: height 2s, width 2s;
}

.location:active 
{
 height: 320px;
 width: 320px;
}

h1{
     text-align: center;
  }
  
h4 {
       
       text-align: center;
  }
  
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 250px;
  }

img.books
{
 transition: height 2s, width 2s, filter 1s; 
}

img.books:active
{
 height: 300px;
 width: 500;
 filter: invert(100%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0C0032;
}

li {
  float: left;
  font-size: 22px;
  font-family: cursive;
}

li a {
  display: block;
  color: #C3073F;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 920;
}

li a:hover {
  background-color: #282828;
}
  a:visited { 
    color: #hotpink; 
  }
  
  a:active {
  color: #190061;
}

figcaption {
  border: 1px dotted #3500D3;
   border-radius: 25px;
    text-align: center;
  max-width: 500px;
  margin: auto;
}

summary{
  margin: auto;
}
