body {
  font-family: Bookman;
  font-size: 18px;
  background-image: url("../images/paper.jpg");
 }

.header {
  text-align: center;
  font-size: 150%;
}

h1 {
  display: inline;
}

.teachingStyle {
  padding: 0;
  margin: 0;
}

.lawyeringStyle {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

.alignLeft {
  float: left;
}

.alignRight {
  text-align: right;
}

.bold {
  font-weight: bold;
}

button
{
 background-color: #1011f8; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  border-color: #269CE9;
  border-radius: 12px;
  margin: 0 auto;
}

a.socialLinks{
 text-decoration: none;
}
