<style>
        body{
          background-color: #777777;
          font-weight: bold;
          font-size: 20;
        }

        h1, h2{
          text-decoration: underline;
        }

        #max{
          background-color: lightgreen;
        }

        #power{
          background-color: lightpink;
        }

        #average{
          background-color: #F7DC6F;
        }

        #h{
          background-color: #E59866;
        }

        #l{
          background-color: lightpink;
        }

        #img1{
          float: right;
          height: 40%;
          width: 40%;
        }

        #xyPlane{
          background-color: #BB8FCE;
        }

        #quadradic {
          background-color: #2874A6;
        }

#factorial{
 background-color: #AA1866;
}

        #img2{
          float: right;
          height: 40%;
          width: 40%;
        }


    </style>
